@page "/"
@inject IHttpClientFactory clientFactory
@inject NavigationManager navigationManager
@inject ILoadingIndicatorService ApplicationLoadingIndicatorService

<AddUserComponent />

<PageTitle>Your Projects</PageTitle>

@if(projects != null)
{
    <CardDeck>
        @foreach(var p in projects)
        {
            <Card>
                <CardBody>
                    <CardTitle Size="3">
                        Project: @p.Name
                    </CardTitle>
                    <CardText>
                        @if (p.Description == null)
                        {
                            @("Your project doesn't have a description.")
                        }
                        else
                        {
                            @p.Description
                        }
                    </CardText>
                    <Button Color="Color.Primary" Clicked="()=> GoToProject(p.Id)"><Icon Name="IconName.InfoCircle" /></Button>
                    <Button Color="Color.Secondary"><Icon Name="IconName.Edit" /></Button>
                    <Button Color="Color.Danger"><Icon Name="IconName.Delete" /></Button>
                </CardBody>
            </Card>
        }
    </CardDeck>
}

@code
{
    private List<OnlyProjectDTO> projects;

    protected async override Task OnInitializedAsync()
    {

        await ApplicationLoadingIndicatorService.Show();

        var httpClient = clientFactory.CreateClient("API");

        var response = await httpClient.GetFromJsonAsync<List<OnlyProjectDTO>>("/api/project/all");

        if(response != null)
        {
            projects = response;
            await ApplicationLoadingIndicatorService.Hide();
        }
        else
        {
            Console.WriteLine("ERROR");
        }

        
    }

    private void GoToProject(int ID)
    {
        navigationManager.NavigateTo($"/drag/{ID}");
    }
}