@inherits LayoutComponentBase
<Layout>
    <LayoutHeader>
        <NavMenu />
    </LayoutHeader>
    <LayoutContent>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </LayoutContent>
</Layout>

