@inject Append.Blazor.Notifications.INotificationService NotificationService
@inject IHttpClientFactory clientFactory
@inherits LayoutComponentBase
<Layout>
    <LayoutHeader>
        <NavMenu />
    </LayoutHeader>
    <LayoutContent>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </LayoutContent>
</Layout>

@code{
    private HttpClient httpClient;
    DateTime now;

    // https://timmoth.com/posts/ZF2d7lLLn0aU8eWX31Sbnw - MIT

    ///////////////////////////////////////////////////////////////////////////////////////////////

    protected override async Task OnInitializedAsync()
    {
        bool IsSupportedByBrowser = await NotificationService.IsSupportedByBrowserAsync();

        if (IsSupportedByBrowser)
        {
            PermissionType permission = await NotificationService.RequestPermissionAsync();
        }

        httpClient = clientFactory.CreateClient("API");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CancellationTokenSource _timerCancellationToken = new();
            // using var timer = new PeriodicTimer(TimeSpan.FromSeconds(10));
            using var timer = new PeriodicTimer(TimeSpan.FromHours(1));
            while (!_timerCancellationToken.IsCancellationRequested && await timer.WaitForNextTickAsync())
            {
                now = DateTime.Now;
                if(now.Hour == 18)
                {
                    await NotificationService.CreateAsync("Notification", await httpClient.GetStringAsync("/api/notification"));
                }
            }
        }
    }

    ///////////////////////////////////////////////////////////////////////////////////////////////
}