<ModalBody>
    <Field Horizontal>
        <FieldLabel ColumnSize="ColumnSize.IsFull.Is3.OnDesktop">
            Name
        </FieldLabel>
        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
            <TextEdit @bind-Text="Name" />
        </FieldBody>
        <FieldLabel ColumnSize="ColumnSize.IsFull.Is3.OnDesktop">
            Category
        </FieldLabel>
        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
            <Select @bind-SelectedValue="@Value">
                @foreach(var c in Columns)
                {
                    <SelectItem Value="@c.ID">@c.Name</SelectItem>
                }
            </Select>
        </FieldBody>
    </Field>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Success" Clicked="ModalService.Hide">Confirm</Button>
    <Button Color="Color.Secondary" Clicked="ModalService.Hide">Cancel</Button>
</ModalFooter>
@code {
    [Inject] public IModalService ModalService { get; set; }
    [Parameter] public HashSet<ColumnModel> Columns { get; set; }
    public string Name { get; set; }
    public int Value { get; set; }
}
