@page "/"
@inject HttpClient httpClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code 
{
    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetFromJsonAsync<IEnumerable<WeatherForecast>>("/api/WeatherForecast");

        if(response != null)
        {
            foreach(WeatherForecast w in response)
            {
                
                Console.WriteLine($"{w.Summary}, {w.TemperatureC}, {w.TemperatureF}, {w.Date}");
            }
        }

    }
}